/* Serif fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); /* Merriweather */
/* Sans serif fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); /* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /* Lato */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); /* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap'); /* Carrois Gothic SC */



body {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  max-width: 1000px;
  position: relative; z-index: -10000; -webkit-font-smoothing: subpixel-antialiased; /* corrects Safari rendering */
  font-family: 'Source Sans Pro', sans-serif;
  /*font-size: 21px;*/
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;
}


div.wrapper {
  padding: 0rem 0 18rem 0;
  min-height: 100%;
  margin-left: 6rem;
  margin-right: 6rem;

}
div.content {
  /*width: 100%;*/
  width: 100%;
  display: block;
  /*background-color: #eee;*/
  margin-left: auto;
  margin-right: auto;

}
div.blog-wrapper {
  margin-left: 8rem;
  margin-right: 8rem;
  padding-bottom: 18rem;
}
p {
  overflow: auto;
  /*max-width: 65ch;*/
}

p.tagline {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

img.self-portrait {
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  text-align: center;
  /* border */
  position:relative;
  border:1px solid #ccc;
  padding:5px;
  background:#f2f2f2;
}


footer {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  /*border-top: 1px solid grey;*/
  padding-top: 2rem;
  margin-top: 1rem;
}


h1.name {
  font-family: 'Merriweather', serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

p.blog-title {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-style: italic;
  padding-top: .2em;
  margin-bottom: 0px;
  margin-top: 2em;
  border: 1px solid;
  border-color: black;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
}

.section {
  font-family: 'Merriweather', serif;
  margin-top: 1em;
  margin-bottom: 0em;
}
.section {
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style-type: disc;
  line-height: 170%;
  margin-left: -1em;
}

li {
  padding-left: 1em;
  font-family: 'Merriweather', serif;
  font-size: 85%;
  hyphens: none;
}
.stuff-list > li {
  font-family: "Merriweather", serif;
  font-size: 18px;
}

td.project-name {
  width: 30%;
  vertical-align: center;
  text-align: left;
}

td.project-name > a {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 85%;
  hyphens: none;
}

table.projects {
  padding-top: 1em;
  border-collapse: collapse;
  border-style: hidden;
}

table.projects td {
  padding: .5em;
  border: 1px solid lightgrey;

}

p.error {
  font-size: 200%;
  font-family: 'Carrois Gothic SC', sans-serif;
  text-align: center;
  color: grey;
}




a:link {
  color: Black;
  background-color: transparent;
  text-decoration: none;
  border-radius: 5px;
  /* Link fade effect
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
  /*transition:color .2s ease-out, background .2s ease-in;*/

}

a:visited {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-size: 100%;
  color: black;
  text-decoration: none;
  transition-property: background;
  transition-duration: 0.4s;
  border-radius: 8px;
  padding: 0px 0px 0px 0px;
}

a:active {
  color: orange;
  background-color: transparent;
  text-decoration: none;
  border-radius: 8px;
}
/* LINK CIRCLE */
.text a::after {
    position: relative;
    content: "\FEFF°";
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
    color: orange;
    font-feature-settings: "caps";
    font-variant-numeric: normal;
}

a.exclude::after {
  content: "";
  margin-left: 0.0em;
  font-size: 100%;
  top: 0.0em;
}

a.home-link:hover {
  background-color: transparent;
}
a.home-link:active {
  color: black;
}

a.bracketed {

  font-size: 80%;
}

div.topwrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, auto);
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

div.box {
  padding: 4px;
}

div.logo {
  grid-column: 1;
  grid-row: 1;
}

div.links {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
}

ul.social-links {
  list-style-type: none;
  line-height: 120%;
}

ul.social-links > li {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}




/* TOPNAV */
.topnav {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 5px;

  /* Navbox centering */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  border-radius: 0px;
  text-align: center;
  padding: 0px 22px;
  text-decoration: none;
  font-size: 100%;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  text-decoration: underline;
  border-bottom: 1px black;
  color: orange;
  border-radius: 0px;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: underline;
  color: black;
  border-radius: 0px;
}


/* HIGHLIGHT COLORS */
::selection {
  color: black;
  background: orange; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: black;
  background: orange; /* Gecko Browsers */
}


/* STICKY FOOTER STUFF */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem; /* footer height */
}

#sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size: .8em;
    left: 0;
}

/*DARK MODE BUTTON*/
.topbar {
  padding-bottom: 10px;
}
.btn-toggle {
  border: none;
  background: transparent;
  text-align: center;
  font-size: 16px;
}
.btn-toggle:hover {
  color: orange;
}

/* DEFAULT BODY COLORS */
body {
  --text-color: black;
  --border-color: black;
  --bkg-color: white;
  --link-hover-color: #ffd17a;
  --hover-text-color: black;
  --btn-toggle-color: black;
}
body.dark-theme {
  --text-color: #EEEEEE;
  --border-color: #EEEEEE;
  --bkg-color: #262626;
  --link-hover-color:  #ffd17a;
  --hover-text-color: black;
  --btn-toggle-color: #EEEEEE;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #EEEEEE;
    --border-color: #EEEEEE;
    --bkg-color: #262626;
    --link-hover-color:  #ffd17a;
    --hover-text-color: black;
    --btn-toggle-color: #EEEEEE;
  }
  body.light-theme {
    --text-color: black;
    --border-color: black;
    --bkg-color: white;
    --link-hover-color: #ffd17a;
    --hover-text-color: black;
    --btn-toggle-color: black;
  }
}

body {
  background: var(--bkg-color);
}

h1,
p,
a:link,
a:visited,
.topnav a.active,
li,
td,
blockquote,
hr {
  color: var(--text-color);
}
a:hover {
  background-color: var(--link-hover-color);
  color: var(--hover-text-color);
}
a.home-link:hover {
  color: inherit;
}
.social-links a:hover {
  color: orange;
  background-color: transparent;
}
p.blog-title {
  border-color: var(--border-color);
}
footer * {
  color: var(--text-color);
}
.btn-toggle {
  color: var(--btn-toggle-color);
}


/* MOBILE */
@media only screen and (max-width: 768px) {
  /* for mobile phones*/
  body {
    font-size: 115%;
    text-align: justify;
  }
  div.wrapper {
    padding: 0rem 0 0rem 0;
    min-height: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 5px;
    padding-right: 5px;
  }
  div.topwrapper {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-auto-rows: minmax(auto, auto);
    padding-bottom: 0px;
  }
  div.logo {
    grid-column: 1;
    grid-row: 1;
  }
  div.links {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
  }
  ul.social-links {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 8px;
  }
  ul.social-links > li {
    display: inline;
  }
  ul.stuff-list > li {
    font-size: 90%;
    text-align: left;
  }
  ul.papers {
    text-align: left;
    line-height: 1.5rem;
  }
  .topnav {
    padding-bottom: 0;
    /* Navbox centering */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .topnav a {
    font-size: 90%;
  }
  div.content {
    width: 95%;
  }
  td {
    vertical-align: top;
    text-align: left;
  }
  td.project-name {
    width: 20%;
    vertical-align: top;
    text-align: left;
  }
  td.project-name > a {
    font-size: 80%;
  }
  div.blog-wrapper {
    padding: 0rem 18px 1rem 18px;
    min-height: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  p.blog-title {
    font-size: 120%;
    margin-top: 1rem;
  }
  h1.name {
    font-size: 200%;
    padding-left: 5px;
  }
  p.tagline {
    font-size: 90%;
    margin-bottom: 0px;
    padding-left: 5px;
  }
  p.error {
    font-size: 150%;
  }
  img.self-portrait {
    height: 180px;
  }
  footer {
    font-size: 70%;
  }
}
