@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); /* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); /* Merriweather */

body {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Noto Sans', sans-serif;
}

h1.name {
  font-family: 'Merriweather', serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  border: 1px solid;
  border-color: black;
  border-left: transparent;
  border-right: transparent;
  overflow: hidden;

  /* Navbox centering */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 6px 20px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: LightGrey;
  color: black;
}
