/* Serif fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); /* Merriweather */
/* Sans serif fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); /* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /* Lato */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); /* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap'); /* Carrois Gothic SC */



body {
  background-color: white;
  margin-left: 29vw;
  margin-right: 29vw;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  line-height: 1.45;
  text-align: justify;
  hyphens: auto;
}

body.blog-entry {
  margin-left: 33%;
  margin-bottom: 12%;
}

h1.name {
  font-family: 'Merriweather', serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

p.blog-title {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-style: italic;
  padding-top: .2em;
  margin-bottom: 0px;
  margin-top: 3.4em;
  border: 1px solid;
  border-color: black;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
}

h4.section {
  font-family: 'Merriweather', serif;
  margin-top: 1em;
  margin-bottom: 0em;
}

ul {
  list-style-type: circle;
  line-height: 170%;
  margin-left: -1em;
}

li {
  padding-left: 1em;
  font-family: 'Carrois Gothic SC', 'Source Sans Pro', sans-serif;
}

td.project-name {
  width: 35%;
  vertical-align: top;
  text-align: right;
}

td.project-name > a {
  font-family: 'Carrois Gothic SC', sans-serif;
  hyphens: none;
}

table.projects {
  padding-top: 1em;
}

table.projects td {
  padding: .5em;
}

p {
  overflow: auto;
  max-width: 65ch;
}

p.tagline {
  margin-top: 0px;
  text-align: left;
}

div.content {
  width: 90%;
  display: block;
  /*background-color: #eee;*/
  margin-left: auto;
  margin-right: auto;
}


a:link {
  color: Black;
  background-color: transparent;
  text-decoration: none;
  border-radius: 5px;
  /* Link fade effect */
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-in;
}

a:visited {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-size: 100%;
  color: black;
  background-color: LightGrey;
  text-decoration: none;
  border-radius: 5px;
}

a:active {
  color: LightGrey;
  background-color: transparent;
  text-decoration: none;
  border-radius: 5px;
}

div.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, auto);
}

div.box {
  padding: 4px;
}

div.logo {
  grid-column: 1;
  grid-row: 1;
}

div.links {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
}

ul.social-links {
  list-style-type: none;
  line-height: 120%;
}

ul.social-links > li {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}




/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  border: 1px solid;
  border-color: grey;
  border-left: transparent;
  border-right: transparent;
  overflow: hidden;

  /* Navbox centering */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  border-radius: 0px;
  text-align: center;
  padding: 0px 22px;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Carrois Gothic SC', serif;
  font-weight: normal;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: LightGrey;
  color: black;
  border-radius: 0px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: LightGrey;
  color: black;
  border-radius: 0px;
}

footer {
  text-align: center;
  font-size: 16px;
  border-top: 1px solid grey;
  padding-top: .5rem;
  margin-top: 4rem;

}

/* STICKY FOOTER STUFF */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem; /* footer height */
}

#sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size: .8em;
    left: 0;
}
/* END STICKY FOOTER STUFF */



@media only screen and (max-width: 1680px) {
  /* For mac */
  body {
    font-size: 18px;
    *margin-left: 24%;
    margin-right: 24%;*
  }

  @media only screen and (max-width: 1100px) {
    /* For mac */
    body {
      font-size: 120%;
      margin-left: 10%;
      margin-right: 10%;
    }

@media only screen and (max-width: 768px) {
  /* For mobile phones */
  body {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .topnav a {
    font-size: 18px;
  }
  body.blog-entry {
    margin-left: 5%;
    margin-right: 5%;
  }
  p.blog-title {
    margin-top: 1em;
  }
  h1.name {
    font-size: 160%;
  }
  p.tagline {
    font-size: 16px;
  }
  footer {
    font-size: 12px;
  }
}
