/* Serif fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); /* Merriweather */
/* Sans serif fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); /* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /* Lato */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); /* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap'); /* Carrois Gothic SC */



body {
  background-color: white;
  margin-left: 29%;
  margin-right: 29%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  line-height: 1.45;
}

body.blog-entry {
  margin-left: 33%;
}

h1.name {
  font-family: 'Merriweather', serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

p.blog-title {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-style: italic;
  padding-top: .2em;
  margin-bottom: 0px;
  margin-top: 3.4em;
  border: 1px solid;
  border-color: black;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
}

h4.section {
  font-family: 'Merriweather', serif;
  margin-top: 1em;
  margin-bottom: 0em;
}

ul {
  list-style-type: circle;
  line-height: 170%;
  margin-left: -1em;
}

li {
  padding-left: 1em;
  font-family: 'Carrois Gothic SC', 'Source Sans Pro', sans-serif;
}

ol.projects {
  line-height: 100%;
  margin-left: -1em;
}
ol.projects > li {
  padding-left: 1em;
  font-family: 'Carrois Gothic SC', sans-serif;
}
ol.projects > p {
  margin-left: 3em;
  margin-top: .4em;
  overflow: hidden;
  max-width: 40ch;
  font-size: 20px;
  font-style: italic;
  line-height: 140%;
}

p {
  overflow: hidden;
  max-width: 70ch;
}

p.tagline {
  margin-top: 0px;
}


a:link {
  color: Black;
  background-color: transparent;
  text-decoration: none;
  border-radius: 5px;
  /* Link fade effect */
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-in;
}

a:visited {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-size: 100%;
  color: black;
  background-color: LightGrey;
  text-decoration: none;
  border-radius: 5px;
}

a:active {
  color: LightGrey;
  background-color: transparent;
  text-decoration: none;
  border-radius: 5px;
}

div.software {
  margin-top: 1em;
  margin-left: 2.5em;
  margin-right: 1em;

}




/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  border: 1px solid;
  border-color: black;
  border-left: transparent;
  border-right: transparent;
  overflow: hidden;

  /* Navbox centering */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  border-radius: 0px;
  text-align: center;
  padding: 1px 22px;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Carrois Gothic SC', serif;
  font-weight: normal;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: LightGrey;
  color: black;
  border-radius: 0px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: LightGrey;
  color: black;
  border-radius: 0px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  body.blog-entry {
    margin-left: 5%;
    margin-right: 5%;
  }
  p.blog-title {
    margin-top: 1em;
  }
  h1.name {
    font-size: 160%;
  }
}
