<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/images/pixel_coffee_mug.png">
    <meta name="author" content="Derek Andersen">
    <meta name="description" content="{{title}}">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src='/JavaScript/header.js'></script>
    <script src='/JavaScript/color-theme-toggle.js'></script>
    <title>Derek Andersen / Blog / {{title}}</title>
  </head>
  <body onload="fillHeader()">
    <div class="blog-wrapper">
      <p id="top-back-button">
        <a href="/blog">&#8592; Back</a>
      </p>
      <p class="blog-title">{{title}}</p>
      <pre class="blog-date" style="text-align: right;">{{date}}</pre>

      {{{body}}}

      <p class="signature">&#8212; Derek Andersen</p>
      <br>
      <p>
        <a href="/blog">&#8592; Back</a>
      </p>
    </div>
  </body>
</html>
