<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/images/pixel_coffee_mug.png">
    <meta name="author" content="Derek Andersen">
    <meta name="description" content="{{title}}">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src='/JavaScript/color-theme-toggle.js'>addColorThemeToggle()</script>
    <title>{{title}} | Derek Andersen</title>
  </head>
  <body>
    <div class="blog-wrapper">
      <p>
        <a href="/blog">&#8592; Back</a>
      </p>
      <p class="blog-title">{{title}}</p>
      <p style="text-align: right;">{{date}}</p>

      {{{body}}}

      <p style="text-align: right; font-family: 'Carrois Gothic SC', 'Source Sans Pro', sans-serif;">&#8212;derek andersen</p>
      <br>
      <p>
        <a href="/blog">&#8592; Back</a>
      </p>
    </div>
  </body>
</html>
