<div class="blog-entry-item">
    <div class="blog-entry-title left">{{number}}. <a href="/blog/{{filename}}" title="{{description}}">{{title}}</a></div>
    <div class="blog-entry-date right">{{date}}</div>
    <div class="clear"></div>
</div>
