<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/pixel_coffee_mug.png">
    <meta name="author" content="Derek Andersen">
    <meta name="description" content="{{title}}">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />-->
    <!--<script src='/javascript/color-theme-toggle.js'></script>-->
    <title>{{title}} | Derek Andersen</title>
  </head>
  <body>
    <div class="blog-wrapper">
      <p id="top-back-button">
        <a href="/blog">&#8592; All posts</a>
      </p>
      <p class="blog-title">{{title}}</p>
      <pre class="blog-date" style="text-align: right;">{{date}}</pre>

      {{{body}}}

      <p class="signature">&#8212; Derek Andersen</p>
      

      <div class="rss-container">
        <div class="blog-tags left">Tags: 
          {{#tags}}
            <a href="{{url}}">{{name}}</a>{{^isLast}}, {{/isLast}}
          {{/tags}}
        </div>
        <div class="clear"></div>
      </div>
      

      <p>
        <div class="left"><a href="/blog">&#8592; All posts</a></div>
        <div class="right"><a href="/support">Support this blog</a> • <a href="/blog/random">Random post</a> • <a href="/blog/feed.xml">RSS</a></div>
        <div class="clear"></div>
      </p>

      {{{footer}}}

    </div>
  </body>
</html>
