/* Serif fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); /* Lora */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); /* IBM Plex Serif */

/* Sans serif fonts */
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap"); /* Anonymous Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); /* Source Sans 3 */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap'); /* Radio Canada */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); /* Sora */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /* Rubik */

/* Sans Serif website title fonts */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap'); /* Aldrich */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); /* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap'); /* Goldman */
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap'); /* Changa One */
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap'); /* Racing Sans One */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap'); /* Fugaz One */

/* Monospace fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"); /* Fira Code */
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap'); /* Cascadia Code */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); /* Source Code Pro */