<img class="portrait" src="/static/images/derek-tv.jpeg" />
<p class="text">My name is Derek Andersen. I'm also known on the internet by the username <i>Dechrissen</i>.</p>
<p class="text">I enjoy playing video games, writing, working on projects, programming, and drinking coffee.</p>
<p class="text">
        In 2021 I completed my Master's in Computational Linguistics — 
        if you're curious about my academic work, feel free to 
        <a href="https://dechrissen.github.io/academic-output.html" target="_blank">peruse it here</a>.
</p>