<img class="portrait" src="/static/images/derek-tv.jpeg" />

<p class="text">My name is Derek Andersen. I'm also known on the internet by the username <i>Dechrissen</i>.</p>

<p class="text">I have a lot of interests, but the ones that have stuck with me the most over the years are <strong>writing</strong>, 
working on <strong>projects</strong>, <strong>programming</strong>, <strong>video games</strong>, and <strong>coffee</strong>. These 
also tend to overlap — for example,
I like working on projects that involve programming, often they're game-related, and I like to reflect on 
them through writing about them. And I have coffee at the same time.</p>

<p class="text">I've loved video games since I was a kid. Here are some of my favorite series.</p>

<ul class="compact-list">
        <li>Banjo-Kazooie</li>
        <li>Pokémon</li>
        <li>Mother</li>
        <li>Metroid</li>
        <li>Pikmin</li>
</ul>

<p class="text">In 2019, I got into <a href="https://youtube.com/playlist?list=PLlL2rIIeW_RXCcrdz-y8bmKXfvGPO9iU9&feature=shared">speedrunning</a> 
Banjo-Tooie on Nintendo 64. I don't do it anymore, but speedrun livestreams are still something I like to watch in my spare time.</p>

<p class="text">At the end of 2024, I worked on a <a href="/solus">romhack</a> of the Gen 1 Pokémon games which addresses 
some minor "issues" they have — but it's really more of a love letter to Gen 1 than anything else.</p>

<p class="text">In college, I studied <strong>linguistics</strong> and took some programming-related courses. 
Language was interesting to me, so after a few changes in academic direction, I ultimately landed on linguistics as a major.
I focused on Japanese as a second language at the time (for this reason, many of my academic papers relate to its structure). In 2018, 
I completed my Bachelor's in Linguistics. After that, I decided to pursue graduate school; in 2021 I completed my Master's 
in Computational Linguistics.</p>

<p class="text">If you're curious about my academic work, feel free 
to <a href="https://dechrissen.github.io/academic-output.html" target="_blank">peruse it here</a>.</p>