<img class="portrait" src="/static/images/derek-tv.jpeg" />

<p class="text">My name is Derek Andersen. I go by the username <i>Dechrissen</i> across the internet. Here's a brief history of my life.</p>

<p class="text">I have a lot of interests, but the ones that have stuck with me the most over the years are <strong>writing</strong>, 
working on <strong>projects</strong>, <strong>programming</strong>, and <strong>video games</strong>. These 
also tend to overlap — for example,
I like working on projects that involve programming, often they're game-related, and I like to reflect on 
them through writing about them.</p>

<p class="text">I've loved video games since I was a kid in the 90s. Here are some of my favorite series.</p>

<ul class="compact-list">
        <li>Banjo-Kazooie</li>
        <li>Pokémon</li>
        <li>Mother</li>
        <li>Metroid</li>
        <li>Pikmin</li>
</ul>

<p class="text">From the early 2000s through to high school, I really just liked games and being able to get lost in them. I gravitated toward 
adventure games rather than sports games or anything based too much in reality. When I was young, I really liked <strong>making games</strong> (board and card games). 
I wrote 
about it <a href="https://derekandersen.net/blog/gamedev-history">here</a>, but long story short: nowadays I don't entertain the part of my brain 
that led to that game-making as much as I should. I'm trying to get back to it.</p>  

<p class="text">In 2013, I started going to college, where I studied engineering to start. It didn't land for me, and I eventually switched 
to <strong>computer science</strong>. At the same time, I was taking Japanese language courses, and learned that I found <strong>linguistics</strong> vaguely interesting. 
So after a few changes in academic direction, I ultimately landed on linguistics as a major.
Since I was focusing on Japanese at the time, much of my academic writing related to its structure. In 2018, 
I completed my Bachelor's in Linguistics. After that, I decided to pursue graduate school to focus a bit more on computer science 
and its overlap with language. In 2021, I completed my 
Master's in Computational Linguistics.</p>

<p class="text">If you're curious about my academic work, you can 
<a href="https://dechrissen.github.io/academic-output.html">peruse it here</a> — it's publicly available.</p>

<p class="text">I've worked in the tech field since I graduated, exclusively in the language technology / machine learning / NLU space — first for a 
company that created voice assistant technology for use in automobiles, and later for a company that has a focus in wearable technology (AI assistants).</p>

<p class="text">In 2019, I got into <a href="https://youtube.com/playlist?list=PLlL2rIIeW_RXCcrdz-y8bmKXfvGPO9iU9&feature=shared">speedrunning</a> 
Banjo-Tooie on Nintendo 64. I don't speedrun anymore, but speedrun livestreams are still something I like to watch in my spare time. I often find myself 
preoccupied with the games I've played dozens of times (trying to find new ways to play them, like speedruns and randomizers) rather than being interested in 
newer games.</p>

<p class="text">Around the time I was speedrunning Banjo-Tooie, I worked on a few projects and tools related to the Banjo speedrunning scene. The 
<a href="https://derekandersen.net/blog/my-first-website">first blog post</a> 
on this website is actually an overview of the <a href="https://banjospeedruns.com/">Banjo speedrunning community website</a> which I worked on 
with some other people, and that project is partly what inspired me to start my blog.</p>

<p class="text">Generally, I enjoy <strong>tinkering</strong> and working on projects, whether they're tangible or programming-related. Here's a 
<a href="https://derekandersen.net/blog/tag/projects">list</a> of blog 
posts related to some projects I've worked on.</p>

<p class="text">Toward the end of 2024, I worked on a <a href="/solus">romhack</a> of the Gen 1 Pokémon games which addresses 
some minor "issues" they have — but it's really more of a love letter to Gen 1 than anything else. I'd like if you checked it out. 
I also made some <a href="https://www.youtube.com/playlist?list=PL-k9sS5iGL6s5MF3GIJqLIPA4662JPsxz">videos</a> about it.</p>

<p class="text">Other things I like — watches, Game Boys, cigars, pour-over coffee, firearms, typography, stationery, Dachshunds, running.</p>