<p class="text">
          Ways to <strong>contact me</strong>.
        </p>
          <ul class="compact-list">
            <li>Send an email: mail (at) derekandersen (dot) net</li>
            <li>Send a message via Discord: Dechrissen</li>
            <li><a href="https://discord.gg/SB52VWvwRY" target="_blank">Join</a> my Discord server</li>
          </ul>