<p class="text">
          Get in touch with me.
        </p>
          <ul class="compact-list">
            <li>Signal → <code>Dechrissen.86</code></li>
            <li>Discord → <code>Dechrissen</code></li>
            <li>email → <code>mail(at)derekandersen(dot)net</code></li>
          </ul>