<p class="text">
          Some ways to contact me.
        </p>
          <ul class="compact-list">
            <li>email: mail (at) derekandersen (dot) net</li>
            <li>Discord username: Dechrissen</li>
            <li>Discord server: <a href="https://discord.gg/SB52VWvwRY" target="_blank">invite link</a></li>
          </ul>