<h1>Endorsements</h1>
      <p class="text">
        Stuff I genuinely like and recommend highly — websites, tools,
        media, products, etc.
      </p>
      <ul class="compact-list">
        <li><a href="https://practicaltypography.com/" target="_blank">Practical Typography</a></li>
        <li><a href="https://www.extratricky.com/pokeworld/rb/1" target="_blank">pokeworld</a></li>
      </ul>