<h1>Endorsements</h1>
      <p class="text">
        Things I like and/or recommend — websites, tools, media, and more.
      </p>

<h2>Personal sites</h2>
      <ul class="compact-list">
        <li><a href="https://www.brianhamrick.com/" target="_blank">Brian Hamrick</a> – smart guy and good Twitch streamer</li>
        <li><a href="https://jvscholz.com/" target="_blank">James Scholz</a> – very good tech-related / digital minimalism content</li>
        <li><a href="https://jakegines.in/" target="_blank">Jake Ginesin</a> – unique minimal website and basically where I got the idea for this page</li>
        <li><a href="https://www.craftz.dog/" target="_blank">Takuya Matsuyama</a> – cool Japanese developer</li>
      </ul>

<h2>Videos and channels</h2>
      <ul class="compact-list">
        <li><a href="https://www.youtube.com/c/WolfgangsChannel" target="_blank">Wolfgang's Channel</a> – well-made homelab videos</li>
        <li><a href="https://www.youtube.com/@metaphysical8698" target="_blank">Metaphysical</a> – guy who makes good VGM-style music</li>
      </ul>

<h2>Livestreamers</h2>
      <ul class="compact-list">
        <li><a href="https://www.twitch.tv/extratricky" target="_blank">ExtraTricky</a> – chill MMO gameplay mostly</li>
        <li><a href="https://www.twitch.tv/pjii" target="_blank">Pjii</a> – cool retired Banjo-Tooie speedrunner who plays other games now</li>
      </ul>

<h2>Tangible things</h2>
      <ul class="compact-list">
        <li><a href="https://darntough.com/" target="_blank">Darn Tough</a> – the best socks on Earth</li>
      </ul>

<h2>Miscellaneous</h2>
      <ul class="compact-list">
        <li><a href="https://practicaltypography.com/" target="_blank">Practical Typography</a> – web book to learn good typography</li>
        <li><a href="https://www.extratricky.com/pokeworld/rb/1" target="_blank">pokeworld</a> – tool for visualizing the Kanto overworld</li>
        <li><a href="https://github.com/pret/pokered" target="_blank">pokered disassembly</a> – disassembly of Pokémon Red/Blue</li>
      </ul>