<p class="text">Welcome to my website! My name is Derek Andersen.</p>

<p class="text">I host my <a href="/blog">personal blog</a> and 
        <a href="/projects">project showcase</a> here. There are some other things to discover as well, so please explore. 
        If you'd like some suggestions, start with these pages:</p>
<ul class="compact-list">
        <li><a href="/about">About me</a></li>
        <li><a href="/blog/latest">Latest blog post</a></li>
        <li><a href="/solus">Pokémon Solus</a></li>
</ul>