<p class="text">Hello! My name is Derek Andersen. This website is a place where I publish <a href="/blog">blog posts</a> and
        showcase my <a href="/projects">projects</a>.</p>
<p class="text">If you don't know where to start, here are some suggestions.</p>
<ul class="compact-list">
        <li><a href="/blog/latest">My latest blog post</a></li>
        <li><a href="/solus">Pokémon Solus</a></li>
</ul>