<p class="text">Hello, my name is Derek. I use this website as a place to publish <a href="/blog">blog posts</a> and
        showcase some of my <a href="/projects">projects</a>.</p>
<p class="text">If you don't know where to start, here are some suggestions.</p>
<ul class="compact-list">
        <li><a href="/about">About me</a></li>
        <li><a href="/blog/latest">Latest blog post</a></li>
        <li><a href="/solus">Pokémon Solus romhack</a></li>
</ul>