<p class="text">Places to find me on the web.</p>
        <ul class="compact-list">
          <li>
            <a href="https://github.com/Dechrissen" target="_blank"
              >GitHub</a
            >
          </li>

          <li>
            <a href="http://www.youtube.com/@Dechrissen" target="_blank"
              >YouTube</a
            >
          </li>

          <li>
            <a href="https://www.twitch.tv/dechrissen" target="_blank"
              >Twitch</a
            >
          </li>
          
          <li>
            <a href="https://www.speedrun.com/user/dechrissen" target="_blank"
              >Speedrun.com</a
            >
          </li>
          
          <li>
            <a href="https://youtube.com/playlist?list=PLlL2rIIeW_RXCcrdz-y8bmKXfvGPO9iU9&feature=shared" target="_blank"
              >Speedrun PB playlist</a
            >
         </li>
        </ul>
        <p class="text">Miscellaneous pages hosted on this site.</p>
        <ul class="compact-list">

         <li>
          <a href="/solus">
            Pokémon Solus romhack</a
          >
         </li>

         <li>
          <a href="/endorsements">
            Endorsements</a
          >
         </li>

         <li>
          <a href="/daisy">
            Daisy the Squirrel</a
          >
         </li>

         <li>
          <a href="/md/pokemon-teams">
            Pokémon Team Archive</a
          >
         </li>

         <li>
          <a href="/support">
            Support my projects</a
          >
         </li>
        </ul>