<p class="text">Places to find me on the web.</p>
        <ul class="compact-list">
          <li>
            <a href="https://github.com/Dechrissen" target="_blank"
              >GitHub</a
            >
          </li>

          <li>
            <a href="https://dechrissen.github.io/" target="_blank">
              Professional website</a
            >
          </li>

          <li>
            <a href="http://www.youtube.com/@Dechrissen" target="_blank"
              >YouTube</a
            >
          </li>

          <li>
            <a href="https://www.twitch.tv/dechrissen" target="_blank"
              >Twitch</a
            >
          </li>
          
          <li>
            <a href="https://www.speedrun.com/user/dechrissen" target="_blank"
              >Speedrun.com</a
            >
          </li>
          
          <li>
            <a href="https://www.youtube.com/@dechrissenspeedruns" target="_blank"
              >Archived speedrun videos</a
            >
         </li>
        </ul>
        <p class="text">Miscellaneous pages hosted on this site.</p>
        <ul class="compact-list">
          <li>
          <a href="/support">
            Support my projects</a
          >
         </li>

         <li>
          <a href="/solus">
            Pokémon Solus romhack homepage</a
          >
         </li>

         <li>
          <a href="/endorsements">
            Things I like</a
          >
         </li>

         <li>
          <a href="/daisy">
            Daisy the Squirrel</a
          >
         </li>

         <li>
          <a href="/games/rps">
            Rock, Paper, Scissors</a
          >
         </li>
        </ul>