<p class="text">
  A subset of my projects. 
  To see more, check out my
  <a href="https://github.com/Dechrissen" target="_blank">GitHub</a>.
</p>

<ul class="project-list">
  <li>
    <a href="https://github.com/Dechrissen/teamgen" target="_blank">TeamGen</a>
    <span class="desc">universal Pokémon party generator</span>
  </li>
  <li>
    <a href="/solus">Pokémon Solus</a>
    <span class="desc">romhack project for the Gen 1 Pokémon games which focuses on an enhanced solo gameplay experience</span>
  </li>
  <li>
    <a href="https://github.com/Dechrissen/hstk">Headline Snap Toolkit</a>
    <span class="desc">toolkit for creating and interfacing with a database of news headlines</span>
  </li>
  <li>
    <a href="/blog/studying-saturdays">Studying Saturdays</a>
    <span class="desc">automated weekly learning event that takes place in my Discord server</span>
  </li>
  <li>
    <a href="https://github.com/Dechrissen/MingyJongo" target="_blank">MingyJongo</a>
    <span class="desc">Node bot for my personal Discord server, utilizing MongoDB to store user data</span>
  </li>
  <li>
    <a href="https://github.com/Dechrissen/buzzrec" target="_blank">buzzrec (Master's thesis project)</a>
    <span class="desc">content-based recommendation engine for linguistics papers on LingBuzz</span>
  </li>
  <li>
    <a href="https://banjospeedruns.com/bt/bingo-toolie" target="_blank">Bingo-Toolie</a>
    <span class="desc">companion web-app for Banjo-Tooie speedrun bingo</span>
  </li>
  <li>
    <a href="/blog">My blog</a>
    <span class="desc">a collection of my writings about various topics</span>
  </li>
  <li>
    <a href="https://github.com/Dechrissen/website">This website</a>
    <span class="desc">my personal website, built with a Node webserver, Mustache for templating, and Showdown for Markdown → HTML conversion</span>
  </li>
  <li>
    <a href="https://pypi.org/project/pokequiz/" target="_blank">PokéQuiz</a>
    <span class="desc">Python package for command-line Pokémon quizzes</span>
  </li>
  <li>
    <a href="https://banjospeedruns.com/" target="_blank">banjospeedruns.com</a>
    <span class="desc">the Banjo-Kazooie speedrunning community website</span>
  </li>
  <li>
    <a href="https://github.com/Dechrissen/speedrunb0t" target="_blank">speedrunb0t</a>
    <span class="desc">IRC chatbot for Twitch.tv with Speedrun.com integration and speedrunner-specific functionality</span>
  </li>
</ul>