<div class="rss-container">
    <div class="right"><a href="/support">Support this blog</a> • <a href="/blog/random">Random post</a> • <a href="/blog/feed.xml">RSS</a></div>
    <div class="clear"></div>
</div>