<h1>Software by Derek Andersen</h1>
      <p class="text">
        The pieces of software I've developed which I consider complete/cohesive. All of these are free, but 
        <a href="/support">donations</a> are appreciated if you find them useful.
      </p>

      <ul class="project-list">
        <li><a href="https://github.com/Dechrissen/teamgen" target="_blank">TeamGen</a> <br> universal Pokémon party generator</li>
        <li><a href="https://github.com/Dechrissen/hstk">Headline Snap Toolkit</a> <br> toolkit for creating and interfacing with a database of news headlines</li>
        <li><a href="https://github.com/Dechrissen/buzzrec" target="_blank">buzzrec</a> <br> content-based recommendation engine for linguistics papers on LingBuzz</li>
        <li><a href="https://pypi.org/project/pokequiz/" target="_blank">PokéQuiz</a> <br> Python package for command-line Pokémon quizzes</li>
      </ul>