<h1>Pokémon Solus</h1>

      <p class="text">
        The homepage of the Pokémon Solus romhack project.
      </p>

      <hr style="border-top: 1px solid white;" />

      <h2>Solus Red, Green, and Blue</h2>
      <p class="text">
        <i>Released 11 September 2024</i>
      </p>

      <img class="portrait" src="/static/images/pokemon-solus-rgb/box-front-solus-triple.png" />

      <p class="text">
        Pokémon Solus RGB is a romhack of Red/Blue which aims to be a minimal, near-vanilla enhancement of the original game 
        with an added focus on the <strong>solo gameplay experience</strong>. Importantly, it doesn't take too many creative 
        liberties or stray too far from the original design. To learn more, peruse the links below.
      </p>

      <ul class="compact-list">
        <li><a href="https://www.youtube.com/watch?v=SMto-WaTL4s">Trailer</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/releases/latest">Latest release (download the patch)</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/blob/master/docs/PLAY.md">Beginner setup guide</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/blob/master/docs/FEATURES.md">Comprehensive feature list</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb">Source code</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/wiki">Wiki</a></li>
        <li><a href="https://www.romhacking.net/hacks/8809/">romhacking.net page</a></li>
        <li><a href="https://romhackplaza.org/romhacks/pokemon-solus-rgb-game-boy/">RomhackPlaza page</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PL-k9sS5iGL6s5MF3GIJqLIPA4662JPsxz">Video playlist</a></li>
        <li><a href="/blog/tag/solus">Blog posts</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/tree/master/physical">Box art and cartridge labels</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/blob/master/docs/TESTIMONIALS.md">Testimonials</a></li>
      </ul>

      <hr style="border-top: 1px solid white;" />

      <h2>Solus Yellow</h2>
      <p class="text">
        <i>Currently in development...</i>
      </p>

      <p class="text">
        Follow it <a href="https://github.com/Dechrissen/poke-solus-yellow">here</a>.
      </p>

      <hr style="border-top: 1px solid white;" />

      <h2>Miscellaneous</h2>
      <p class="text">To ask questions or offer feedback, join the <a href="https://discord.gg/YTxu5uM7r6">Solus Discord</a>. If you like the project, please <a href="https://github.com/Dechrissen/poke-solus-rgb/tree/master?tab=readme-ov-file#support-the-solus-project">support it</a>!</p>      
       