<h1>Pokémon Solus</h1>

      <p class="text">
        <b>The Solus Philosophy</b> – Projects that fall under this umbrella aim to provide ways to enhance the 
        base experience of Pokémon playthroughs (without straying too far from the intended experience). Specifically, 
        this means providing the player with methods of adding variety or difficulty to playthroughs, without modifying 
        things like natural Pokémon availability or changing the fundamental design (e.g. buffing enemy trainers' parties). 
        The Solus Philosophy doesn't exist to make a point that randomizers or game-changing romhacks are inherently bad; 
        rather, it aims to provide a framework for making the base games (as they are) more challenging and/or enjoyable, 
        all while staying as faithful to the original games as possible. (There is some wiggle room for taking creative 
        liberties, but it's not the focus.)
      </p>

      <hr style="border-top: 1px solid white;" />

      <h2>Solus Red, Green, and Blue</h2>
      <p class="text">
        <i>Released 11 September 2024</i>
      </p>

      <img class="portrait" src="/static/images/pokemon-solus-rgb/box-front-solus-triple.png" />

      <p class="text">
        Pokémon Solus RGB is a romhack of Red/Blue which aims to be a minimal, near-vanilla enhancement of the original game 
        with an added focus on the <strong>solo gameplay experience</strong>. Importantly, it doesn't take too many creative 
        liberties or stray too far from the original design. To learn more, peruse the links below.
      </p>

      <ul class="compact-list">
        <li><a href="https://www.youtube.com/watch?v=SMto-WaTL4s">Trailer</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/releases/latest">Latest release (download the patch)</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/blob/master/docs/PLAY.md">Beginner setup guide</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/blob/master/docs/FEATURES.md">Comprehensive feature list</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb">GitHub repo</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/wiki">Wiki</a></li>
        <li><a href="https://www.romhacking.net/hacks/8809/">romhacking.net page</a></li>
        <li><a href="https://romhackplaza.org/romhacks/pokemon-solus-rgb-game-boy/">RomhackPlaza page</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PL-k9sS5iGL6s5MF3GIJqLIPA4662JPsxz">Video playlist</a></li>
        <li><a href="/blog/tag/solus">Blog posts</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/tree/master/physical">Box art and cartridge labels</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/blob/master/docs/TESTIMONIALS.md">Testimonials</a></li>
        <li><a href="https://github.com/Dechrissen/poke-solus-rgb/blob/master/docs/FEATURES.md#faq">FAQ</a></li>
      </ul>

      <hr style="border-top: 1px solid white;" />

      <h2>Dexelect</h2>
      <p class="text">
        <i>Released 12 December 2025</i>
      </p>

      <img class="portrait" src="/static/images/dexelect-gui.png" />

      <p class="text">
        Dexelect is a progression-aware Pokémon team generator. It can be used to prescribe a randomized (but obtainable) party according to user-specified customizations and restrictions. Fully compatible with Solus RGB (as well as vanilla Gens 1–4).
      </p>

      <ul class="compact-list">
        <li><a href="https://dexelect.derekandersen.net">Use the web app</a></li>
        <li><a href="https://github.com/Dechrissen/dexelect/releases/latest">Download for desktop</a></li>
        <li><a href="https://github.com/Dechrissen/dexelect">GitHub repo</a></li>
      </ul>
      
      <hr style="border-top: 1px solid white;" />

      <h2>Solus Yellow</h2>
      <p class="text">
        <i>Development planned.</i>
      </p>

      <p class="text">
        Follow it <a href="https://github.com/Dechrissen/poke-solus-yellow">here</a>.
      </p>

      <hr style="border-top: 1px solid white;" />

      <h2>Support the project</h2>
      <p class="text">If you like the project, please support it by:</p>
      
      <ul class="compact-list">
        <li>Giving stars to the above projects' GitHub repositories</li>
        <li>Joining the <a href="https://discord.gg/YTxu5uM7r6">Solus Discord</a></li>
        <li>Sharing this page with someone who might be interested</li>
      </ul>

      <p class="text">Support is greatly appreciated! Questions or feedback? Join the <a href="https://discord.gg/YTxu5uM7r6">Solus Discord</a>!</p>

      <hr style="border-top: 1px solid white;" />

      <h2>Disclaimer</h2>
      <p class="text">This is an unofficial fan project not affiliated with, endorsed, or sponsored by Nintendo, The Pokémon Company, or Game Freak.</p>
