<h1>Support</h1>
        <p class="text">
          If you appreciate any of my work — whether it's my writing, software,
          or something else — 
          consider supporting me by leaving a small donation. It would help me stay motivated to create more things.
        </p>
        <ul class="compact-list">
          <li>
            <a
              href="https://ko-fi.com/dechrissen"
              target="_blank"
            >
              Donate on Ko-fi
            </a>
           </li>
        </ul>