<h1>Support</h1>
        <p class="text">
          If you appreciate any of my work — whether it's my writing, software,
          or something else — consider supporting it with a donation.
        </p>
        <ul class="compact-list">
          <li>
            <a
              href="https://ko-fi.com/dechrissen"
              target="_blank"
            >
              Donate via Ko-fi
            </a>
           </li>
        </ul>
        <p class="text">
          I also appreciate other forms of support, like leaving stars on my 
          <a href="https://github.com/Dechrissen" target="_blank">GitHub repositories</a>,
          sharing my work with people who might be interested, or simply
          <a href="/contact">telling me</a> what you think.
        </p>