<h1>Support Derek Andersen</h1>
        <p class="text">
          Donations to support my writing, software, and other projects are appreciated.
        </p>
        <ul class="compact-list">
          <li>
            <a
              href="https://ko-fi.com/dechrissen"
              target="_blank"
            >
              Donate on Ko-fi
            </a>
           </li>
           <li>
            Donate BTC → <code>bc1qfj447j9an56szd8stwcruq04effk5k4hlwjmhj</code>
           </li>
        </ul>